@page "/usersview"
@using System.Net.Http 
@using Blazorise
@using Blazorise.DataGrid
@using Models 
@inject HttpClient Http

<h3>Users Grid View</h3>

<DataGrid TItem="User" Data="@users" Sortable="true" ShowPager="true" PageSize="3">
    <DataGridColumn TItem="User" Field="@nameof(User.Id)" Caption="ID"></DataGridColumn>
    <DataGridColumn TItem="User" Field="@nameof(User.Name)" Caption="Name"></DataGridColumn>
    <DataGridColumn TItem="User" Field="@nameof(User.Image)" Caption="Image"></DataGridColumn>
</DataGrid>



<button @onclick="AddUserAsync">Add User</button>


@code {
    

}